<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.simonbaars.com/cdd/CloneDetectionDSL"
			class = "com.simonbaars.cdd.cloneDetectionDSL.CloneDetectionDSLPackage"
			genModel = "model/generated/CloneDetectionDSL.genmodel" />
	</extension>
</plugin>
